node_modules/
.dev
reports/
.vscode

DS_Store
*.log

packages/**/.npmrc
packages/**/.npmignore

# non-zero install yarn ignores
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*